<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                               
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025447">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Infinet Wireless</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Senior Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025996">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AVATAR</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026145">Java программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026186">Java Developer (Платежные системы)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025283">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "РуСофт"</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026018">Java to Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026046">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Touch Bank</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026417">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">PRO IT</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026509">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Связной Загрузка"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026513">Java разработчик (API)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HeadHunter</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025885">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026153">Разработчик Java Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026301">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Laximo</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026278">Junior Software Developer / Java EE Specialist</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025964">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бигл</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025447">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Infinet Wireless</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026111">Senior Java developer</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Magora Systems</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000009066">Ведущий Java разработчик (проект Видео)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Одноклассники</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023619">Java Developer / Java разработчик</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025996">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">AVATAR</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022018">Java разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">От 45 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026145">Java программист</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary">От 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026186">Java Developer (Платежные системы)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SPB-SPLAT</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025283">Программист Java</a></td> 
     <td class="city">Челябинск</td> 
     <td class="companyName">ООО "РуСофт"</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024547">Java-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026018">Java to Scala Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">EXANTE</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026046">Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Touch Bank</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026417">Java-разработчик</a></td> 
     <td class="city">Пермь</td> 
     <td class="companyName">PRO IT</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026509">Java разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Связной Загрузка"</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999999168">Java Software developer (Java Программист)</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HireRight Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026513">Java разработчик (API)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">HeadHunter</td> 
     <td class="salary">От 130 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025885">Ведущий Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ПАО АКБ "Авангард"</td> 
     <td class="salary">От 80 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025930">Ведущий Java программист / тимлид</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026153">Разработчик Java Backend</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Voximplant</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024918">JAVA-программист</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Crocodie</td> 
     <td class="salary">От 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026301">Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Laximo</td> 
     <td class="salary">От 60 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023161">Java EE Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Fasten inc</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023213">Java EE-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFS</td> 
     <td class="salary">От 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026278">Junior Software Developer / Java EE Specialist</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach RUS</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025964">Java-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Бигл</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026002">Java-разработчик web - приложений</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013803">Scala или Java разработчик / Scala or Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024958">Senior Java разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Brooma</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025337">Программист C++, C# и Java</a></td> 
     <td class="city">Тула</td> 
     <td class="companyName">Центр обучения Союз.</td> 
     <td class="salary">От 15 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000020239">Senior Scala/Java Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Adlabs FSE</td> 
     <td class="salary">От 170 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026017">Middle Java Developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Loyalty Plant</td> 
     <td class="salary">От 60 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013804">Ведущий Scala / Java разработчик (Senior Scala / Java Developer)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026079">Scala/Java - разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Digital Society Laboratory (DSL)</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026362">Разработчик на Python или Java в команду Мессенджеров</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Яндекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000023877">Senior Java Developer (Data team)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">GetIntent</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024316">Java-разработчик с хорошим знанием английского</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">LAR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025734">Ведущий разработчик Java [reward for referrals 50k RUB]</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">NPBFX</td> 
     <td class="salary">От 120 000 до 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026020">Java разработчик в американский Ai-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025974">Разработчик Android</a></td> 
     <td class="city">Чебоксары</td> 
     <td class="companyName">Taximeta LLC</td> 
     <td class="salary">От 60 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026105">Аналитик-математик</a></td> 
     <td class="city"></td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000022798">GWT Разрабочик</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">AgmSoft</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025473">Тестировщик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Электронный город</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026052">Senior QA automation engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024551">Go-developer</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026146">Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Новая Медицина"</td> 
     <td class="salary">От 150 000 до 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026370">Ведущий тестировщик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025939">Android - Разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024464">Android-разработчик</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">FunCorp</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/698563072">Руководитель команды веб-разработчиков с хорошим знанием английского</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">LAR</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026373">Android разработчик</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">АНКОР Высокие Технологии</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026424">Руководитель команды / Teamlead</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000019862">ANDROID разработчик</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Группа Компаний "Wallet One"</td> 
     <td class="salary">От 60 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025905">Android разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">Minimum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026126">Senior Android Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Social Discovery Ventures</td> 
     <td class="salary">От 2 500 до 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026060">Фуллстек разработчик с уклоном в бэкенд</a></td> 
     <td class="city">Мюнхен</td> 
     <td class="companyName">InfoPunks GmbH</td> 
     <td class="salary">От 40 000 до 45 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026462">Аналитик-статистик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026222">Junior Android Developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">TechOps</td> 
     <td class="salary">От 30 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025933">Разработчик мобильных приложений для Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026371">Android – разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">8bit group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026319">Senior Android Developer</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">FutureComes</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026084">Разработчик Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО "Рестрим"</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026010">Разработчик исследователь ANDROID</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ОАО "Технологии радиоконтроля"</td> 
     <td class="salary">От 70 000 до 135 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026196">Разработчик мобильных приложений, Android</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Конфи Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026231">PHP-developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Новая Медицина"</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026533">Разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Директ Кредит</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026331">Expert Node JS back-end developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Aparlay</td> 
     <td class="salary">От 3 000 до 3 300 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025632">Software Engineer / Инженер-программист</a></td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">Devexperts ("Эксперт-Система")</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026219">Android- разработчик в американский Ai-стартап</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Cubic Robotics</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026402">Программист/Руководитель отдела разработки</a></td> 
     <td class="city">Пенза</td> 
     <td class="companyName">gresso</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026204">Android developer</a></td> 
     <td class="city">Самара</td> 
     <td class="companyName">Qwintry</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026066">Team Lead</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сервис GrowFood</td> 
     <td class="salary">До 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026382">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ООО "Нерадио"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026353">Android разработчик</a></td> 
     <td class="city">Томск</td> 
     <td class="companyName">ООО "Дром"</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025931">Разработчик мобильных приложений для IOS</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">АО «Тинькофф Банк"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026077">Разработчик мобильных приложений</a></td> 
     <td class="city">Тюмень</td> 
     <td class="companyName">Orange Rockets</td> 
     <td class="salary">От 35 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025324">Mobile Intern</a></td> 
     <td class="city">Омск</td> 
     <td class="companyName">Handsome</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025916">Web-программист</a></td> 
     <td class="city">Владимир</td> 
     <td class="companyName">"WoodCraft"</td> 
     <td class="salary">От 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025171">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Wawe</td> 
     <td class="salary">От 110 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024338">Senior Android architect</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024343">Senior Android engineer</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">MERA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025404">PHP-разработчик (backend)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Arcanite LLC</td> 
     <td class="salary">От 60 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026409">Team lead / Ведущий разработчик / технический архитектор</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Andromeda Ventures</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026377">Senior Scala Developer in Tech Startup</a></td> 
     <td class="city"></td> 
     <td class="companyName">whisk</td> 
     <td class="salary">От 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026064">Android - разработчик</a></td> 
     <td class="city">Великий Новгород</td> 
     <td class="companyName">Аппликатура</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026323">CTO</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">DigitalHR</td> 
     <td class="salary">От 200 000 до 270 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026322">Android Developer</a></td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">Just LLC</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026212">Back-end разработчик</a></td> 
     <td class="city"></td> 
     <td class="companyName">БИТ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/999998919">Android разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Альфа-Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026414">Survey Engineer/ Специалист по разработке интерактивных маркетинговых опросников</a></td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary">От 40 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025222">Android разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">SweatCoin</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026292">Разработчик моб. приложений</a></td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">YLab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026119">Backend-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BeGet</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026125">Senior Android developer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Trucker Path</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026121">Бэкенд/Мобильный/Десктоп разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">NetGon Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026427">Тестировщик/разработчик</a></td> 
     <td class="city">Барнаул</td> 
     <td class="companyName">Дим Софт, ООО</td> 
     <td class="salary">От 30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000013542">Senior Android Developer (Maps.Me)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026343">​QA front-end automation engineer (remote)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Иннова</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025707">Ведущий Android разработчик</a></td> 
     <td class="city">Казань</td> 
     <td class="companyName">iTrend</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026150">ColdFusion разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary">От 170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026056">QA инженер / тестировщик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">АЛОЛЬ</td> 
     <td class="salary">От 50 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026009">Программист С/Asm</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ОАО "Технологии радиоконтроля"</td> 
     <td class="salary">От 70 000 до 135 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026504">Senior PHP developer</a></td> 
     <td class="city"></td> 
     <td class="companyName">Diffco US</td> 
     <td class="salary">От 40 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026179">Менеджер IT-проектов</a></td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Wallet One</td> 
     <td class="salary">От 35 000 до 50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025617">Фронтенд-разработчик (React-Native, React)</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Busfor</td> 
     <td class="salary">До 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024956">С++ программист / Ведущий С++ программист</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Navitel</td> 
     <td class="salary">От 70 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026215">Человекоподобный Android-разработчик</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Студия Михаила Кечинова</td> 
     <td class="salary">От 70 000 до 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025149">Android-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Superjob</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026461">Аналитик по прогнозированию</a></td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">BIA-Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026432">Программист С++\ Builder</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024202">C\C++ System Software Developer</a></td> 
     <td class="city">Минск</td> 
     <td class="companyName">Promwad Innovation Company</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024454">Ведущий JavaScript разработчик (Senior JavaScript Developer)</a></td> 
     <td class="city">Гусев</td> 
     <td class="companyName">GS Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000024329">Разработчик Python</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Главный радиочастотный центр</td> 
     <td class="salary">От 60 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026000">Старший Web разработчик</a></td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026188">​Chief DevOps Engineer</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Align Technology Inc</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000025522">Python разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Marilyn</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026095">Разработчик Python/Asyncio</a></td> 
     <td class="city"></td> 
     <td class="companyName">Девхаб</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://moikrug.ru/vacancies/1000026429">Frontend Разработчик (React &amp; React Native) в e-сommere проект</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">ETHR</td> 
     <td class="salary">От 130 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>